.logoApp {
    width: 100px;
    margin: 20px 0;
}

.svgOnTopCalendar {
    background-color: #2d2d34;
    stroke: rgb(210, 198, 39);
    padding: 5px;
    border-radius: 50%;
    &:hover {
        background-color: rgb(21, 21, 23);
        box-shadow: 0 0 5px #2d2d34;
    }
}

.dateApp {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    position: relative;
    overflow: visible;
    margin: auto;
    section {
        margin: 20px 0;
        width: calc(100% / 7);
        height: 50px;
        position: relative;
        h3 {
            position: absolute;
            overflow: hidden;
            color: rgb(21, 21, 23);
            top: 50%;
            font-weight: 800;
            left: 50%;
            user-select: none;
            transform: translate(-50%, -50%);
            padding: 5px 30px;
            border-radius: 5px;
            background-color: rgb(210, 198, 39);
            box-shadow: 0 0 5px #2d2d34;
        }
    }
    div {
        width: calc(100% / 7);
        height: 10vh;
        background-color: #2d2d34;
        box-shadow: inset 0 0 0px 5px #e3e4e5;
        position: relative;
        cursor: pointer;
        &:hover {
            background-color: rgb(210, 198, 39);
            box-shadow: 0 0 5px #2d2d34;
            h3 {
                color: rgb(21, 21, 23);
            }
        }
        h3 {
            position: absolute;
            font-size: 25px;
            color: white;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            user-select: none;
            pointer-events: none;
        }
    }
}

.dataApp {
    background-color: #2d2d34;
    padding: 20px;
    border-radius: 50px;
    display: flex;
    margin: 20px auto;
    user-select: none;
    overflow: visible;
    width: 80%;
    button {
        padding: 15px 50px;
        background-color: white;
        border: 1px solid white;
        color: #2d2d34;
        border-radius: 50px;
        font-weight: 600;
        position: relative;
        font-size: 16px;
        transition: 0.2s;
        z-index: 2;
        cursor: pointer;
        &::after {
            content: "";
            position: absolute;
            border-radius: 50px;
            top: 50%;
            width: 10px;
            transform: translate(0, -50%);
            height: 10px;
            left: 10px;
            background-color: #2d2d34;
            transition: 0.2s;
            z-index: -1;
        }
        &:hover {
            color: white;
            box-shadow: 0 0 5px #2d2d34;

            &::after {
                top: -5px;
                left: -5px;
                width: 300px;
                height: 400px;
            }
        }
    }
    h3 {
        box-shadow: 0 0 5px #2d2d34;
        margin: auto;
        letter-spacing: 1px;
        color: rgb(21, 21, 23);
        padding: 5px 30px;
        border-radius: 5px;
        background-color: rgb(210, 198, 39);
    }
}

.divEmptyDate {
    background-color: transparent !important;
    pointer-events: none;
}

@media (max-width: 600px) {
    .dataApp {
        margin: 0 auto;
        display: block;
        h3 {
            padding: 0;
        }
        button {
            margin: 10px 0;
        }
    }
    #logoFirstWind {
        display: none;
    }
    .dateApp {
        width: 100%;
        section {
            h3 {
                width: calc(100% / 7);
                overflow: hidden;
            }
        }
    }
}
